/*Todos los div tendran esta estructura de css de nuestro index.html*/
div {
    /*Ancho del contenedor*/
    width: 100px;
    /*Largo del contenedor*/
    height: 100px;
    /*Color de fondo del div*/
    background: #4a88f4;
    /*Color de la letra*/
    color: white;
    /*Tamaño de la fuente del texto dentro del div*/
    font-size: 30px;
}

/*Posicionamiento relativo,-Posiciona la caja 
en cualquier lugar dejando su espacio y nadie puede ocupar ese espeacion
Posicionamiento absoluto,- Si utilizamos el posicionamiento absoluto el componente se va a desplazar pero 
su lugar es ocupado por otro componente*/
.cja{
    /*El elemento fixed hace que un elemento se quede fijo en la poscion que le dejamos, sin importar si luego movemos la pagina*/
    position: fixed;
    /*Siempre se tendran enstos 4 atributos para posicionar algo*/
    /*Las medidas absolutas si funcionan mientras que las relativas no funcionan en este caso*/
    top: 0;
    bottom:0;
    left: 0;
    right:0;
}
/*clase llamada cja_padre*/
.cja_padre{
    /*Ancho del contenedor*/
    width: 500px;
    /*Largo del contenedor*/
    height: 500px;
    /*Color a la etiqueta asignada la clase en nuestro index.html*/
    background: black;
    /*su espacion no se vera o
    position: relative*/
}